.Radio {
  position: relative;
  z-index: 20;
  background: var(--red);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


  .Radio-ui {
    display: flex;
    align-items: center;
    padding: var(--spacing-unit);
  }


    .Radio-display {
      flex-grow: 2;
      text-align: center;
      padding: 0 var(--spacing-unit);
      color: var(--almost-white);
      text-shadow: 1px 1px var(--almost-black);
    }

    .Radio-display--loading {
      text-decoration: uppercase;
    }

    .Radio-display span {
      display: inline-block;
      padding: 0 0.5em;
    }
