.App {
  background: var(--blue-green);
}


  .App-header {
    position: relative;
    z-index: 20;
  }


  .App-body {
    position: relative;
    z-index: 10;
    padding: var(--double-spacing-unit);
    background: var(--almost-white);
  }

  @media screen and (min-width: 1000px) {
    .App-body {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      padding: var(--double-spacing-unit) var(--triple-spacing-unit);
    }
  }


    .App-sidebar {}


    .App-content {}

