.Header {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  background: var(--almost-black);
  font-family: var(--secondary-font);
  transition: height 0.5s ease-out;
  overflow: hidden;
}

.Header--full {
  height: 100%;
  overflow-y: auto;
}

  .Header a {
    color: var(--almost-white);
    transition: color 0.3s ease;
    text-decoration: none;
  }

  .Header a:hover {
    color: var(--blue-green);
  }


.Header-row {
  padding: var(--spacing-unit);
}

  .Header-left {
    width: 15%;
    float: left;
  }

  .Header-center {
    width: 70%;
    float: left;
  }

  .Header-right {
    width: 15%;
    float: left;
    text-align: right;
  }


.Header-logo {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: var(--almost-white);
  font-size: 1.75rem;
  line-height: calc(var(--header-height) - var(--double-spacing-unit));
  letter-spacing: -1px;
}

@media (min-width: 1000px) {
  .Header-logo {
    font-size: 2.5rem;
  }
}
