.Radio {
  background: var(--red);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


  .Radio-ui {
    display: flex;
    align-items: center;
    padding: var(--spacing-unit);
  }

  @media screen and (min-width: 1000px) {
    .Radio-ui {
      padding: var(--spacing-unit) 0;
    }
  }


    .Radio-display {
      flex-grow: 2;
      text-align: center;
      padding: 0 var(--spacing-unit);
      color: var(--almost-white);
      text-shadow: 1px 1px var(--almost-black);
    }

    .Radio-display span {
      display: inline-block;
      padding: 0 0.5em;
    }


    .Radio-control {}

      .Radio-control [type=image] {
        transition: opacity 0.2s ease;
        display: block;
        width: 32px;
        height: 32px;
        opacity: 0.5;
        cursor: pointer;
      }

      .Radio-control [type=image]:hover {
        opacity: 1;
      }
